body {
    background-color: black;
    text-align: center;

}

p {
    color: #00FF00;

}

span{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
    
}